<div class="row text-center">
    <div class="small-3 medium-3 large-3 columns">
        <p class="margin-clr"><i class="fi-compass size-36 red"></i></p>
        <p><a href="#/">Sitemap</a></p>
    </div>
    <div class="small-3 medium-3 large-3 columns">
        <p class="margin-clr"><i class="fi-social-facebook size-36 red"></i></p>
        <p><a href="#/">Facebook</a></p>
    </div>
    <div class="small-3 medium-3 large-3 columns">
        <p class="margin-clr"><i class="fi-social-twitter size-36 red"></i></p>
        <p><a href="#/">Twitter</a></p>
    </div>
    <div class="small-3 medium-3 large-3 columns">
        <p class="margin-clr"><i class="fi-social-google-plus size-36 red"></i></p>
        <p><a href="#/">Google+</a></p>
    </div>
</div>