<div>
    <div class="small-12 medium-12 large-12 max-h-500 hide-overflow">
        <ul class="clear-carousel" data-orbit data-options="bullets:false;">
            <li class="max-h-500">
                <img src="./img/slide1.jpg" alt="slide 1" />
                <div class="orbit-caption text-center">
                    Linkin Park
                </div>
            </li>
            <li class="max-h-500">
                <img src="./img/slide2.jpg" alt="slide 2" />
                <div class="orbit-caption text-center">
                    Skrillex Live
                </div>
            </li>
            <li class="max-h-500">
                <img src="./img/slide3.jpg" alt="slide 3" />
                <div class="orbit-caption text-center">
                    Tomorrowland 2013 !
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- panel d'accueil -->
<div class="row padding-vert-30">
    <div class="small-12 medium-12 large-12 columns">
        <div class="panel">
            <div class="text-center">
                <h1>Welcome on <span class="red">UBeat</span></h1>
                <p>Your music, anywhere, anytime.</p>
                <p>UBeat is a music streaming service.</p>
            </div>
            <div class="row" data-equalizer>
                <div class="large-4 columns panel text-center" data-equalizer-watch>
                    <i class="fi-calendar size-50 red"></i>
                    <h4>Events</h4>
                    <p>Be advised of new concerts / festivals</p>
                </div>
                <div class="large-4 columns panel text-center" data-equalizer-watch>
                    <i class="fi-volume size-50 red"></i>
                    <h4>Albums</h4>
                    <p>Listen the music you Love</p>
                </div>
                <div class="large-4 columns panel text-center" data-equalizer-watch>
                    <i class="fi-music size-50 red"></i>
                    <h4>Artistes</h4>
                    <p>Follow artists and other users !</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Panel artist -->
<div class="row margin-t-10 padding-vert-30 large-uncollapse medium-uncollapse" data-equalizer>
    <div class="large-6 medium-6 columns">
        <div class="row">
            <div class="small-6 large-6 medium-12 columns">
                <div>
                    <img src="http://162.243.221.185/templates/awaaz/red/images/photos/photo13.jpg" />
                </div>
                <div class="row">
                    <div class="small-4 medium-3 columns"><i class="red fi-info size-50"></i></div>
                    <div class="small-8 medium-9 columns end">
                        <h3 class="size-16"><a href="#/artists/462715">System of a down</a></h3>
                        <p class="size-10 margin-clr padding-vert-10">Rock</p>
                    </div>
                </div>
            </div>
            <div class="small-6 large-6 medium-12 columns">
                <div>
                    <img src="http://162.243.221.185/templates/awaaz/red/images/photos/photo17.jpg" />
                </div>
                <div class="row">
                    <div class="small-4 medium-3 columns"><i class="red fi-info size-50"></i></div>
                    <div class="small-8 medium-9 columns end">
                        <h3 class="size-16"><a href="#/artists/3941697">Blink</a></h3>
                        <p class="size-10 margin-clr padding-vert-10">Pop Rock</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="large-6 medium-6 columns">
        <div class="row">
            <div class="small-6 large-6 medium-12 columns">
                <div>
                    <img src="http://162.243.221.185/templates/awaaz/red/images/photos/photo15.jpg" />
                </div>
                <div class="row">
                    <div class="small-4 medium-3 columns"><i class="red fi-info size-50"></i></div>
                    <div class="small-8 medium-9 columns end">
                        <h3 class="size-16"><a href="#/artists/150577975">Malajube</a></h3>
                        <p class="size-10 margin-clr padding-vert-10">Rock</p>
                    </div>
                </div>
            </div>
            <div class="small-6 large-6 medium-12 columns">
                <div>
                    <img src="http://162.243.221.185/templates/awaaz/red/images/photos/photo18.jpg" />
                </div>
                <div class="row">
                    <div class="small-4 medium-3 columns"><i class="red fi-info size-50"></i></div>
                    <div class="small-8 medium-9 columns end">
                        <h3 class="size-16"><a href="#/artists/3941697">Blink</a></h3>
                        <p class="size-10 margin-clr padding-vert-10">Rock & roll</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
